@import 'fonts';
@import 'reset';

$color-black: rgba(0, 0, 0, 0.78);
$gutter-width-sm: 50px;
$width: 100%;
$info-height: 74px;
$transition-duration: 0.3s;
$max-width-image: 400px;
$color-accent-grey: rgb(150, 150, 150);
$gutter-width-lg: 70px;

* {
    box-sizing: border-box;
}

body {
    font-family: 'droid_serifregular', serif;
    min-width: 315px;
}

h3 {
    font-family: 'droid_serifbold_italic';
    font-size: 22px;
}
.head {

    background: $color-black;
    height: $gutter-width-sm + 10px;
    display: flex;
    z-index: 10;

    &:after {
        content: '';
        display: block; position: absolute;
        width: 90px;
        height:$gutter-width-sm;
        top:0;
        right: 0;
        z-index:6;
        background: #383838;
    }

    .logo {
        width: $gutter-width-sm - 10px;
        height: $gutter-width-sm - 10px;
        color: #fff;
        margin: 10px;
        position: fixed;
        mix-blend-mode: difference;
        fill: #cecece;
    }

    .me {
        color: #fff;
        margin-left: auto;
        align-self: center;
        margin-right: 10px;
        font-size: 21px;
        letter-spacing: 1px;
        z-index:7;
    }
}

.close {
    position: fixed;
    right: 0;
    background: $color-black;
    display: block;
    color: #fff;
    width: $gutter-width-sm - 10px;
    height: $gutter-width-sm - 10px;
    margin: 10px;
    line-height: $gutter-width-sm - 10px;
    text-align: center;
    font-size:32px;
    cursor: pointer;
    top: $gutter-width-sm + 10px;
    z-index: 4;
    transition: margin 0.3s ease-in-out;
    margin-right: -70px;

    .item-show & {
        position: absolute;
        margin-right: 10px;
    }

    &.stuck {
        position:fixed;
        top: 0;
    }
}

.stage {
    text-align: center;
    padding: 0 70px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    border-bottom: 1px solid $color-black;

    h3 {
        padding-top:18%;
        padding-bottom: 14%;
        text-align: center;
        font-size: 28px;
    }

    ul {
        padding-bottom: 10%;
        text-align: center;

        li {
            display: inline-block;
            font-size: 14px;

            &:after {
                content: '/';
                color: #8F8F8F;
                padding: 0 6px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    p {
        padding-bottom: 25px;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
    }
    .proj-link {
        color: white;
        text-decoration: none;
        margin-bottom: 35px;
        font-size: 11px;
        padding: 8px;
        background: #191919;
        text-transform: uppercase;
        display: inline-block;
    }
    img {
        max-width: 100%;
        display: block;
        margin: 7% auto;
    }
}

.stage,
.main {
    max-width: 4 * $max-width-image;
    margin: 0 auto;
}

.featured {
    padding-bottom: 30px;
}
.item {
    width: $width;
    cursor: pointer;
    border: 2px solid #fff;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &.project {
        z-index: 5;
    }

    &:before {
        content: '';
        padding-top: 85%;
        display: inline-block;
    }

    &.banner {
        cursor: default;
        border: none;

        &:before {
            padding-top: 115%;
        }
    }

    // &.skinny-header {
    //     cursor: default;
    //     border: none;

    //     &:before {
    //         padding-top: 10%;
    //     }
    // }

    &.show {
        opacity: 1;
    }

    &.three {
        background-image: url('/images/three-elevate.jpg');
    }

    &.fireworks {
        background-image: url('/images/fireworks.jpg');
    }

    &.schorreats {
        background-image: url('/images/schorreats.jpg');
    }

    &.verizon {
        background-image: url('/images/verizon.jpg');
    }

    &.brd {
        background-image: url('/images/brd.jpg');
    }

    &.olympus {
        background-image: url('/images/olympus.jpg');
    }

    .info {
        background: rgba(0, 0, 0, 0.3);
        color: #000;
        text-shadow: 1px 1px 2px #fff;
        display: inline-block;
        padding: 20px;
        width: 100%;
        height: $info-height;
        position: absolute;

        h4 {
            font-family: 'droid_serifbold';
            font-size: 14px;
            padding-bottom:4px;
        }

        h5 {
            font-size: 12px;
        }
    }

    &.hide-left {
        .info {
            left: -100%;
            transition: left $transition-duration ease-in-out;
        }

        &:hover {
            .info {
                left: 0;
            }
        }
    }

    &.hide-right {
        .info {
            left: 100%;
            transition: left $transition-duration ease-in-out;
        }

        &:hover {
            .info {
                left: 0;
            }
        }
    }

    &.hide-top {
        .info {
            top: -$info-height;
            transition: top $transition-duration ease-in-out;
        }

        &:hover {
            .info {
                top: 0;
            }
        }
    }

    &.hide-bottom {
        .info {
            top: 100%;
            transition: top $transition-duration ease-in-out;
        }

        &:hover {
            .info {
                top: 0;
            }
        }
    }

    &.light .info {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }
}

.about {
    font-size: 15px;
    line-height: 21px;
    padding: $gutter-width-sm + 10px;
    top: 0;
    position: absolute;

    a {
        color: $color-black;
        font-family: 'droid_serifbold';

        &:hover {
            cursor: pointer;
        }
    }
}

.social {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $gutter-width-sm + 10px;
    text-align: right;

    h3  {
        padding-bottom: 10px;
    }

    ul li {
        display: inline-block;
        cursor: pointer;
        * {cursor:pointer;}

        a {

            svg {
                cursor: pointer;
                fill: $color-black;
                transition: fill 0.4s ease-in-out;
                width: 35px;
                height: 35px;;

                &:hover {
                    fill: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

// .projects-title {
//     display: flex;
//     align-items: center;
//     padding-left: $gutter-width-sm + 10px;
// }

.code {
    h3 {
        padding: $gutter-width-sm 0 $gutter-width-sm / 2;
        margin: 0 $gutter-width-sm $gutter-width-sm / 2;
        border-bottom: 1px solid $color-black;
    }

    ul {
        padding: 0 $gutter-width-sm $gutter-width-sm;

        li {
            padding-bottom: 20px;
            border-bottom: 1px dashed $color-accent-grey;
            margin-bottom: 20px;
            font-family: 'droid_serifitalic';

            h4 {
                color: $color-black;
                padding-bottom: 7px;
                font-family: 'droid_serifbold';
                a {
                    color: $color-black;
                }
            }
        }
    }
}

.foot {
    background: $color-black;
    height: $gutter-width-sm;
    display: flex;
    align-items: center;
    padding: 0 $gutter-width-sm;

    img {
        height: 36px;
    }

    p {
        margin-left: auto;
        line-height: $gutter-width-sm;
        color: #fff;
        font-size:11px;
        font-family: 'droid_serifitalic';
    }
}

@media (min-width: 350px) {
    .item.banner:before{
        padding-top: 75%;
    }
}

@media (min-width: 580px) {
    $gutter-width-sm: 50px;
    $width: 50%;

    .item.banner:before{
        padding-top: 120%;
    }
    .social {
        padding: 30px 60px 30px 30px;
    }
    .about {
        padding: $gutter-width-lg;
        padding-top: 35px;
        font-size: 15px;
        line-height: 22px;
    }
    // .projects-title {
    //     padding-left: 0;
    // }
    .item {
        width: $width;
    }
    .stage {
        h3 {
            padding: 60px 0 30px
        }
        .proj-link {
            margin: 30px 0 0;
        }
        ul {
            padding-bottom:0;
        }
    }
}

@media (min-width: 880px) {
    $width: 25%;

    .item {
        width: $width;

        // &.skinny-header {
        //     width: $width * 2;
        // }

        &.banner {
            width: $width * 2;
            &:before {
                padding-top: 42.5%;
            }
        }
    }

    .head {
        height: $gutter-width-lg;
        .me {
            font-size: 26px;
        }
        .logo {
            height: 50px;
            width:50px;
        }
    }

    h3 {
        font-size: 18px;
    }

    .social ul li a svg{
        width: 25px;
        height: 25px;
    }

    .close {
        top: $gutter-width-lg;
        height: $gutter-width-lg - 20px;
        width: $gutter-width-lg - 20px;
        line-height: $gutter-width-lg - 20px;
    }

    .stage {
        border-bottom: none;
    }
}




@media (min-width: 1140px) {
    .about {
        padding: $gutter-width-lg;
        font-size: 19px;
        line-height: 30px;
    }

    .social ul li a svg{
        width: 35px;
        height: 35px;
    }
}

