@import 'reset';
@import 'fonts';

$padding: 60px;

* { box-sizing: border-box; }
body  {
    font-family: 'droid_serifbold';
    opacity: 0.78;

    a {text-decoration: none;}
}

.afs-nyc {

    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    h2 {
        font-size: 22px;
        font-family: 'droid_serifregular';
    }

    .row {
        height: inherit;
        min-height: 20px;
        display: flex;

        > div {
            padding-top: $padding;
        }

        &.top .right-col {
            display: flex;
            align-items: flex-end;
            border-bottom: 1px solid #000;

            .social {
                margin-left: auto;
            }
            .icon {
                margin: 0 0 2px;
            }
        }
    }

    .left-col {
        padding: 0 $padding;
        flex-grow: 0;
        width: 150 + (2 * $padding);

        .logo {
            vertical-align: top;
        }
    }

    .right-col {
        //background: green;
        min-height:30px;
        flex-grow: 1;
        height: inherit;
        margin-right: $padding;
    }
}

